<div class="page">
  <header>
    <div class="container">
      <div class="row">
        <div class="span16">
          <a class="logo" href="/">Pagetty</a>
          <h1>Add content</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="body container">
    <div class="row">
      <div class="span16">
        <div class="messages"></div>
        <div class="well">
          <h2>Enter an RSS feed or website URL</h2>
          <form class="subscribe-form no-margin" action="/subscribe/options" method="post">
            <input class="url input-block-level" type="text" name="url" value="{{url}}" />
            <button type="submit" class="btn btn-subscribe-options">Continue</button>
          </form>
          <br/>
          <a href="/import">Import subscriptions from a OPML file</a>
        </div>
        <form class="options">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>URL</th>
                <th></th>
              </tr>
            <tbody>
              <tr>
                <td colspan="3">No RSS feeds found.</td>
              </tr>
            </tbody>
            </thead>
          </table>
          <h2>Custom feed (experimental)</h2>
          <p>The site does not provide RSS feed? No problem! If you know some HTML/CSS you can still create a feed yourself using some CSS based scraping rules.</p>
          <button class="btn btn-success btn-subscribe btn-subscribe-custom" data-url="">Create custom feed</button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    require(['/scripts/controllers/subscribe.js?b=' + build]);
  </script>
</div>