<div class="screen">
  <h1>Pagetty Reader</h1>
  <img src="/images/screen.jpg" alt="Pagetty Reader" />
</div>
<div class="frontpage container">
  <div class="row">
    <div class="span16">
  <noscript>
    <div class="row noscript">
      <div class="span16">
        <div><strong>Javascript is disabled</strong> - We're in a bit of a pickle since Pagetty requires a modern Javascript enabled browser...</div>
      </div>
    </div>
  </noscript>
      <div class="sign-in">
        <form class="form-horizontal" action="/signin" method="post">
          <h2>See what's in the news today.</h2>
          <div class="login">
            <input class="mail input-medium" type="email" name="mail" placeholder="E-mail" />
            <input class="password input-medium" type="password" name="password" placeholder="Password" />
            <input type="submit" class="btn btn-sign-in" value="Sign in" />
          </div>
          <div class="connect">
            <a class='zocial facebook' href="/auth/facebook">Facebook</a>
            <a class='zocial google' href="/auth/google">Google</a>
          </div>
          <div class="extra">
            <a class="forgot" href="/signup">Sign up</a> &nbsp; <a class="forgot" href="/password">Forgot password?</a>
          </div>
        </form>
        <br/>
      </div>
    </div>
  </div>
</div>