<!--[if IE]>
<style>
  .ie9 {
    display: block;
  }
</style>
<![endif]-->
<!-- LAYOUT -->
<div class="hero">
  <div class="frontpage container">
    <div class="row">
      <div class="span11">
          <h1 class="heading">Pagetty reader</h1>
          <h2 class="heading">Currently in Private Beta</h2>
      </div>
      <div class="span5">
        <div class="sign-in" style="background: #fff; padding: 20px 20px 0 20px; border-radius: 5px">
          <h2 style="margin-bottom: .5em">Sign in</h2>
          <form action="/signin" method="post">
            <label class="ie9">E-mail:</label>
            <input class="mail input-medium" type="email" name="mail" placeholder="E-mail" />
            <label class="ie9">Password:</label>
            <input class="password input-medium" type="password" name="password" placeholder="Password" />
            <div>
              <input type="submit" class="btn btn-sign-in" value="Sign in" />
              <a class="forgot" href="/password">Forgot password?</a>
            </div>
          </form>
          <br/>
        </div>
      </div>
    </div>
    <noscript>
      <div class="row noscript">
        <div class="span16">
          <div><strong>Javascript is disabled</strong> - We're in a bit of a pickle since Pagetty requires a modern Javascript enabled browser...</div>
        </div>
      </div>
    </noscript>
  </div>
</div>
<div>
  <div class="container">
    <div class="row" style="margin: 40px 0; text-align: center">
      <div class="logos">
        <img src="/images/technology.png" alt="Powered by NodeJS, HTML5, MongoDB" title="Powered by NodeJS, HTML5, MongoDB" />
      </div>
    </div>
  </div>
</div>
