<div class="page">
  <header>
    <div class="container">
      <div class="row">
        <div class="span16">
          <a class="logo" href="/">Pagetty</a>
          <h1>Forgot password?</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="span16">
        <h2>Enter your e-mail below and we will generate a new password for you.</h2>
        <div class="messages"></div>
        <form class="password-form" action="/password" method="post">
          <input type="hidden" name="_csrf" value="{{_csrf}}" />
          <label>E-mail: *</label>
          <input class="input-mail mail input-xlarge" type="text" name="mail" />
          <div style="margin-top: .5em">
            <button class="btn btn-success btn-signup" href="#">Send me a new password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    require(['/scripts/controllers/password.js?b=' + build]);
  </script>
</div>