<div class="page">
  <header>
    <div class="container">
      <div class="row">
        <div class="span16">
          <a class="logo" href="/">Pagetty</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="span16">
        <h2>Confirm your e-mail address</h2>
        <p>Please <strong>check your mailbox</strong>, open the confirmation e-mail we just sent you and <strong>click on the activatation link</strong>.</p>
      </div>
    </div>
  </div>
</div>