
/* APP ---------------------------------------------------------------------- */

*:focus, *:active {
  outline: none !important;
}
.app, .app body {
  background: #fafafa;
}
.app .wrapper {
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto;
}
.app img.u {
  display: none;
}
#ascrail2000 {
  display: none;
}

/* APP WIDE ------------------------------------------------------------------ */

.app-style-grid .wrapper {
  min-width: 700px;
  max-width: inherit;
  margin: 0 auto;
}
.app-style-grid img.u {
  display: inline;
}

/* SIDEBAR ------------------------------------------------------------------ */

.sidebar {
  display: block;
  float: left;
  width: 280px;
}
.sidebar .inner {
  position: fixed;
  width: 280px;
  height: 100%;
}
.sidebar .header {
  margin: 15px;
}
.sidebar h3 {
  line-height: 28px;
}
.sidebar .btn-subscribe {
  padding: 4px 10px;
}
.notification {
  display: none;
  margin: 15px;
  width: 251px;
  height: 40px;
  background: #FAA732;
  text-align: center;
  border-radius: 3px;
}
.notification:hover {
  opacity: .8;
}
.notification a {
  display: block;
  font-size: 11px;
  line-height: 40px;
  color: #fff;
}
.search {
  margin: 15px;
}
.search input {
  margin-bottom: 0;
}
nav {
  margin: 0 15px 15px 15px;
}
nav ul {
  margin: 0 0 10px 0;
  overflow: hidden;
}
nav ul ul {
  display: none;
  margin: 0;
  background: #f5f5f5;
  background: linear-gradient(to bottom, #eee 0, #f5f5f5 10px);
  background: -webkit-linear-gradient(bottom, #eee 0, #f5f5f5 10px);
  background: -moz-linear-gradient(bottom, #eee 0, #f5f5f5 10px);
}
nav li {
  display: block; /* IE10 bug */
}
nav a {
  position: relative;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 6px 40px 6px 39px;
  color: #333;
}
nav a:active, nav a:focus {
  text-shadow: none;
  text-decoration: none;
  background-color: #ddd;
}
nav li.directory > a,
nav li.list-all > a {
  padding-left: 0;
}
nav li.active > a {
  background-color: #00aeef !important;
  color: white !important;
}
nav i {
  font-size: 14px;
  padding-left: 13px;
  padding-right: 4px;
  width: 18px !important;
}
nav ul ul li.active > a {
  color: #005580 !important;
  background-color: #e7e7e7 !important;
}
nav li.open {
  background: #eee;
}
nav li.open > a,
nav li.open > a span {
  background-color: #00aeef !important;
  color: white !important;
}
nav li.open ul {
  display: block;
}
nav span {
  position: absolute;
  right: 10px;
  font-size: 9px;
  line-height: 10px;
  color: #333;
  padding: 4px;
}

/* CONTENT ------------------------------------------------------------------ */

.content {
  margin: 0 80px 0 280px;
}

/* LIST --------------------------------------------------------------------- */

.list {
  position: relative;
}
.list header {
  background: #fff;
  box-shadow: 0 0 10px #ddd;
}
.list header .inner {
}
.list h1 {
  font-weight: bold;
  line-height: 60px;
  margin: 0 20px;
  overflow: hidden;
}
.list h1 a {
  color: #333;
  white-space: nowrap;
  line-height: 46px;
  overflow: hidden;
}
.no-items {
  padding: 20px;
}
.variants {
  padding: 10px 20px;
  border-top: 1px solid #eee;
}
.variants .mini {
  border-radius: 5px;
  color: #333;
  font-size: 11px;
  white-space: nowrap;
  padding: 10px 20px 10px 0;
}
.variants .mini:hover,
.variants .mini:focus {
  text-decoration: none;
}
.variants .dropdown {
  float: left;
}

/* ITEMS -------------------------------------------------------------------- */

/* ARTICLE ------------------------------------------------------------------ */

article {
  background: #fff;
  margin: 20px 0;
  box-shadow: 0 0 10px #ddd;
}
article h2 {
  position: relative;
}
article .inner {
  overflow: hidden;
  padding: 20px;
}
article h2 a {
  display: block;
  color: #333;
  font-size: 21px;
  font-weight: normal;
  line-height: 27px;
}
article h2 a:visited {
  color: #999;
}
article .new {
  display: none;
  position: absolute;
  top: 23px;
  left: 0;
  background: red;
  width: 6px;
  height: 21px;
}
article.new .new {
  display: block;
}
article .title {
  position: relative;
  padding: 20px 20px 10px 20px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
article .meta {
  height: 28px;
  line-height: 28px;
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  overflow: hidden;
}
article .image {
  margin-bottom: 20px;
}
article .description {
  font-size: 13px;
  line-height: 20px;
}
article .description *:empty:not(img, hr, br) {
  display: none;
}
article .description blockquote {
  margin: 20px 0;
}
article .description img {
  display: block;
  margin: 1em 0;
}
article .description img[align=left] {
  margin-right: 20px;
  margin-top: 0;
}
article .description img[align=right] {
  margin-left: 20px;
  margin-top: 0;
}
article .description ol {
  margin: 20px;
}
article .description ul {
  list-style: none;
  margin: 20px;
}
article .description li {
  line-height: inherit;
  margin-bottom: 1em;
}
article .description h1,
article .description h2,
article .description h3,
article .description h4,
article .description h5,
article .description h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 1em 0;
  height: inherit;
}
article .description h1 {
  font-size: 21px;
  line-height: 28px;
}
article .description h2 {
  font-size: 19px;
  line-height: 26px;
}
article .description h3 {
  font-size: 17px;
  line-height: 24px;
}
article .description h4 {
  font-size: 15px;
  line-height: 22px;
}
article .description h5,
article .description h6 {
  font-size: 13px;
}
article .description p {
  margin-bottom: 13px;
}
article .disabled {
  pointer-events: none;
  cursor: default;
}
article .actions {
  margin: 5px 0;
}
article .action {
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}
article .action-primary {
  border-radius: 3px;
  padding: 4px 8px;
  color: #333;
  background: #f1f1f1;
}
article .action-primary:hover {
  background: #ddd;
}
article .action-secondary:hover {
  color: #333;
}
article .list-name {
  font-size: 11px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 6px;
}
article abbr {
  border: none !important;
}

/* CONTROLS ----------------------------------------------------------------- */

.controls {
  float: right;
  margin: 20px 20px 0 0;
  width: 40px;
}
.controls .inner {
  position: fixed;
}
.controls a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0 10px 0;
  border-radius: 3px;
  background: #eee;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.controls a:hover {
  background: #ddd;
}
.controls a.active {
  background: #00AEEF;
}
.controls a.active i {
  background-image: url("/bootstrap/img/glyphicons-halflings-white.png");
}
.controls a.big {
  line-height: 80px;
  height: 80px;
}
.controls a.gap {
  margin-bottom: 60px;
}
.controls a.gap2 {
  margin-bottom: 110px;
}
.controls a.highlighted {
  background: #5BB75B;
}
.controls a.highlighted i {
  background-image: url("/bootstrap/img/glyphicons-halflings-white.png");
}

/* EXPERIMENTAL ------------------------------------------------------------- */

article h2 {
  overflow: hidden;
}
