
/* GLOBAL DEFAULTS ---------------------------------------------------------- */

html,
body {
  min-height: 100%;
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}
h1 {
  font-weight: bold !important;
}
h1 a {
  color: #333;
}
.container {
  padding: 0 20px;
}
.dropdown {
  display: inline;
}
.dropdown-menu {
  margin-top: 5px;
}
.modal-messages .alert {
  border: none;
  border-radius: 0;
  margin: 0;
}

/* TYPOGRAPHY & FONTS ------------------------------------------------------- */

h1, h2, h3 {
  font-family: GraublauWeb, Helvetica, Arial;
  font-weight: normal;
  text-rendering: auto !important;
}
@font-face {
  font-family: GraublauWeb;
  src: url("/fonts/GraublauWeb.eot?") format("eot"), url("/fonts/GraublauWeb.woff") format("woff"), url("/fonts/GraublauWeb.otf") format("opentype");
}

@font-face {
  font-family: GraublauWeb;
  font-weight: bold;
  src: url("/fonts/GraublauWeb.eot?") format("eot"), url("/fonts/GraublauWebBold.woff") format("woff"), url("/fonts/GraublauWebBold.otf") format("opentype");
}

/* REUSABLE COMPONENTS ------------------------------------------------------ */

.page header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.page header h1 {
  line-height: 87px;
  height: 87px;
  overflow: hidden;
}
.page header .logo {
  margin-left: 21px;
}
.app-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -110px;
}
.center, table .center {
  text-align: center;
}
.form-container-multiple {
  margin: 1em 0;
}
.form-container-multiple .form-element {
  float: left;
  margin: 0 1em 0 0;
}
.form-element {
  margin: 1em 0;
}
.form-description {
  clear: both;
  color: #888;
  font-size: 11px;
}
.hero {
  background: #00AEEF;
  background: -moz-linear-gradient(top, #3dbeed 1%, #00aeef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3dbeed), color-stop(100%,#00aeef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3dbeed 1%,#00aeef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3dbeed 1%,#00aeef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3dbeed 1%,#00aeef 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3dbeed 1%,#00aeef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dbeed', endColorstr='#00aeef',GradientType=0 ); /* IE6-9 */
  padding: 60px 0;
  margin-bottom: 40px;
}
.logo {
  display: block;
  float: left;
  color: #fff !important;
  font-family: GraublauWeb, Helvetica, Arial;
  font-size: 22px;
  text-align: center;
  line-height: 22px;
  background: #00aeef;
  margin-right: 20px;
  width: 80px;
  padding: 50px 0 10px 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.logo:hover {
  opacity: .8;
}
.messages {
  margin: 1em 0;
}
.page .body h1 {
  margin-bottom: .5em;
}
.page .body h2 {
  margin-bottom: .5em;
}
.space-bottom {
  padding-bottom: 20px;
}
.sample {
  display: none;
  margin-bottom: 20px;
}
.sample pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}
.sample pre code {
  overflow: auto;
  font-size: 11px;
  background: inherit;
  padding: 0;
}
.stripe {
  position: fixed;
  width: 100%;
  height: 2px;
  background: #00aeef;
  z-index: 3000;
}
.vertical-center, table .vertical-center {
  vertical-align: middle;
}

/* BOOTSTRAP OVERRIDES -------------------------------------------------------*/

.modal-backdrop {
  opacity: .5;
}
.nav-list > li > a {
  padding: 8px 15px 8px 40px !important;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
  color: white !important;
  background-color: #00AEEF !important;
}
.nav-list > .active > a .new-count, .nav-list > .active > a:hover .new-count {
  color: white !important;
}

/* BROWSER SPECIFIC --------------------------------------------------------- */

.ie9 {
  display: none;
}

/* PAGE: FRONT -------------------------------------------------------------- */

.btn-demo {
  color: #666;
  margin-left: .5em
}
.btn-sign-up, .btn-demo {
  font-size: 22px;
  font-family: GraublauWeb, Helvetica, Arial;
}
.frontpage .logos {
  text-align: center;
}
.frontpage .logos a {
  padding: 0 1em;
}
.frontpage h1 {
  margin-bottom: 20px;
}
.frontpage h2 {
  margin-bottom: 1em;
}
.frontpage h3 {
  margin-bottom: .5em;
}
.hero h1.heading {
  font-size: 80px;
  line-height: 80px;
  color: white;
  text-shadow: 3px 3px #008CC0;
  position: relative;
}
.hero h2.heading {
  color: white;
  text-shadow: 1px 1px #008CC0;
}
.frontpage .sign-in {
  max-width: 250px;
  box-shadow: 3px 3px #008CC0;
  margin: auto;
  text-align: left;
}
.frontpage .forgot {
  color: #999;
  font-size: 10px;
  padding-left: .5em;
}
.noscript {
  color: yellow;
  background: red;
  margin: 20px 0;
  padding: 1em;
}
.noscript * {
  text-align: center;
}

/* PAGE: SUBSCRIBE ---------------------------------------------------------- */

.add-site {
  margin-bottom: 2em;
}
.col-subscription {
  min-width: 120px;
}
.browse-channels {
  margin-bottom: 2em;
}
.browse-channels .pagination {
  margin: 12px 0;
}
.status-subscribed .btn-channel-subscribe {
  display: none;
}
.status-not-subscribed .btn-channel-unsubscribe {
  display: none;
}

/* PAGE: CONFIGURE ---------------------------------------------------------- */

input.generate {
  width: 495px;
}
input.item {
  width: 469px;
}

/* RESPONSIVE --------------------------------------------------------------- */

@media (max-width: 960px) {
  header .logo {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row {
    margin-left: 0;
  }
  [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
  .hero {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .hero h1.heading {
    font-size: 60px;
    line-height: 60px;
  }
  .frontpage input {
    margin-bottom: .5em;
  }
  .sidebar {
    display: none;
  }
  .stripe {
    display: none;
  }
  .action {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
  }
  .action a {
    display: block;
    color: #333;
    background: white;
    border-left: 1px solid #eee;
    font-size: 11px;
    height: 45px;
    line-height: 48px;
    padding: 0 15px;
  }
  .action.open a {
    background: #fafafa !important;
    border-bottom: 1px solid #fafafa;
  }
  .frontpage .btn-sign-up {
    clear: both !important;
    margin-bottom: 20px;
  }
  .frontpage .btn-demo {
    clear: both !important;
    margin-bottom: 20px;
  }
  .section {
    font-weight: bold;
    padding: 8px 0 !important;
  }
}
