body {
  padding-top: 60px;
  padding-bottom: 40px;
}
iframe {
  display: none;
}

/* RUNWAY ------------------------------------------------------------------- */

.runway {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.runway h2 {
  font-family: GraublauWeb;
  font-weight: normal;
  text-rendering: auto;
  line-height: 30px;
}
.runway h2 a  {
  color: #333;
  text-decoration: none;
}
.runway h2 a:hover  {
  color: #08c;
  text-decoration: none;
}
.runway h2 a:visited  {
  color: #999;
}
.runway .item {
  border-bottom: 1px solid #ddd;
  padding: 0 20px 20px 20px;
  margin: 20px 0;
}
.runway .details {
  margin: 5px 0 10px;
  line-height: 20px;
  font-size: 12px;
}

/* FONTS -------------------------------------------------------------------- */

@font-face {
  font-family: GraublauWeb;
  src: url(/fonts/GraublauWeb.otf) format(truetype);
}
@font-face {
  font-family: GraublauWeb;
  font-weight: bold;
  src: url(/fonts/GraublauWebBold.otf) format(truetype);
}
