<div class="channel channel-normal channel-all">
  <div class="title">
    <div class="wrapper">
      <h1>All stories</h1>
      <div class="variants clearfix">
        <a class="btn-a variant all-time" data-channel="all" data-variant="time" href="#"><i class="icon-time"></i> Most recent</a>
        <a class="btn-a variant all-score" data-channel="all" data-variant="score" href="#"><i class="icon-fire"></i> Highest score</a>
      </div>
      <div class="messages"></div>
    </div>
  </div>
  <div class="items">{{{items}}}</div>
</div>