<div class="channel channel-normal channel-{{channel._id}}-{{variant}}">
  <div class="title">
    <div class="wrapper">
      <h1><a href="{{channel.url}}" target="_blank">{{subscription.name}}</a></h1>
      <div class="variants clearfix">
        <a class="btn-a variant {{channel._id}}-original" data-channel="{{channel._id}}" data-variant="original" href="#"><i class="icon-home"></i> Current</a>
        <a class="btn-a variant {{channel._id}}-time" data-channel="{{channel._id}}" data-variant="time" href="#"><i class="icon-time"></i> Most recent</a>
        <a class="btn-a variant {{channel._id}}-score" data-channel="{{channel._id}}" data-variant="score" href="#"><i class="icon-fire"></i> Highest score</a>
        <a class="btn-a configure" href="/channel/{{channel._id}}/configure"><i class="icon-cog"></i> Configure</a>
      </div>
      <div class="messages" style="display: none"><a class="new-stories" href="#"><i class="icon-refresh"></i> <span class="count"></span> <span class="lbl"></span>. Click here to update.</a></div>
      <div class="channel-side">
        <a class="refresh" href="#" title="Refresh channels"><i class="icon-refresh"></i></a>
        <a class="variant {{channel._id}}-original" href="#" data-channel="{{channel._id}}" data-variant="original" title="Current"><i class="icon-home"></i></a>
        <a class="variant {{channel._id}}-time" href="#" data-channel="{{channel._id}}" data-variant="time" title="Most recent"><i class="icon-time"></i></a>
        <a class="variant {{channel._id}}-score" href="#" data-channel="{{channel._id}}" data-variant="score" title="Highest score"><i class="icon-fire"></i></a>
        <a href="/channel/{{channel._id}}/configure" title="Configure"><i class="icon-cog"></i></a>
        <a class="up big" href="#" title="Scroll up">↑</a>
        <a class="next-channel big" href="#" title="Next channel">&raquo;</a>
        <a class="prev-channel big" href="#" title="Previous channel">&laquo;</a>
      </div>
    </div>
  </div>
  <div class="title-mobile">
    <div class="wrapper">
      <a href="/" class="mobile-logo"></a>
      <h1><a href="{{channel.url}}" target="_blank">{{subscription.name}}</a></h1>
      <div class="action toggle-channel-nav"><a href="#"><i class="icon-th"></i></a></div>
      <div class="action refresh"><a href="#"><i class="icon-refresh"></i> <span class="new-items-count"></span></a></div>
    </div>
  </div>
  <div class="channel-nav hide">
    <ul class="nav nav-list">
      <li class="section">Current channel</li>
      <li><a class="variant {{channel._id}}-original" data-channel="{{channel._id}}" data-variant="original" href="#"><i class="icon-home"></i> Current</a></li>
      <li><a class="variant {{channel._id}}-time" data-channel="{{channel._id}}" data-variant="time" href="#"><i class="icon-time"></i> Most recent</a></li>
      <li><a class="variant {{channel._id}}-score" data-channel="{{channel._id}}" data-variant="score" href="#"><i class="icon-fire"></i> Highest score</a></li>
      <li class="configure"><a href="/channel/{{channel._id}}/configure"><i class="icon-cog"></i> Configure</a></li>
      <li class="section">All channels</li>
      <li class="channel channel-all"><a href="/channel/all" data-channel="all">All stories</a></li>
      {{#nav}}
        <li class="channel channel-{{channel_id}}"><a href="/channel/{{channel_id}}" data-channel="{{channel_id}}">{{name}} <span class="new-count pull-right"></span></a></li>
      {{/nav}}
      <li class="section">Add subscription</li>
      <li>
        <a href="/subscribe"><i class="icon-plus"></i> Subscribe to a site</a>
      </li>
      <li class="section">My account</li>
      <li><a href="/account"><i class="icon-user"></i> {{user.mail}}</a></li>
      <li><a href="/signout"><i class="icon-off"></i> Sign out</a></li>
    </ul>
  </div>
  <div class="items"></div>
  {{^count}}
    <div class="no-items">
      <h2>Channel does not yet have any content</h2>
      <p>Use the Content wizard or the Rules interface to set up some content aggregation rules.</p>
      <a href="/channel/{{channel._id}}/configure" class="btn">Configure &raquo;</a>
    </div>
  {{/count}}
</div>