{{#if items}}
  {{#items}}
    <article class="{{_id}} {{new}}" data-id="{{_id}}" data-stamp="{{stamp_unix}}">
      <div class="wrap">
      <div class="title clearfix">
        <div class="new"></div>
        <h2><a href="{{target}}" target="_blank">{{title}}</a></h2>
        <div class="meta">
          <a class="list-name" target="_blank" href="{{../list.link}}">{{../list.name}}</a> - <span class="timeago" data-stamp="{{stamp}}"></span>
        </div>
        <div class="actions">
          {{#if score}}<a class="action action-primary" target="_blank" href="{{comments}}"><i class="fa-icon-comments"></i> {{score}}</a>{{/if}}
        </div>
      </div>
      {{#if description}}
      <div class="inner">
        <div class="description">
          {{{description}}}
        </div>
      </div>
      {{/if}}
      </div>
    </article>
  {{/items}}
{{else}}
  <div class="no-items">No articles found.</div>
{{/if}}
